.container {
  background-image: url(images/back_ground1.jpg);
  height: 765px;
  /* opacity: 0.6; */
  position: relative;
  border: 0px;
}

.a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: red;
  display: inline-block;
}

/* visited link */
/* a:visited {
  color: green;
  display: inline-block;
} */

/* mouse over link */
a:hover {
  background-color: red;
}

/* selected link */
a:active {
  color: blue;
}
.navigation {
  position: static;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}

li {
  font-size: large;
  list-style-type: none;
  margin-right: 10px;
  background-color: rgb(60, 133, 243);
  text-align: center;
  font-family: verdana;
  font-size: 20px;
  color: white;
  text-shadow: 34;
  border-style: outset;
  padding-left: 10px;
  padding-right: 10px;
}
.footer {
  position: absolute;
  background-color: black;
  height: 120px;
  width: 100%;
  bottom: 0px;
}
.logo {
  margin-right: 100px;
}
.head {
  position: static;
  display: flex;
  /* justify-content: space-between; */
  text-align: center;
  font-size: 50px;
  color: rgb(35, 108, 241);
  text-shadow: 2px 2px blue;
  /* text-shadow: 2px 2px blue, 0 0 5px yellow; */

  padding: 10px;
}
.header {
  position: static;
  /* background-image: url(); */
  /* background-repeat: repeat-x; */
  background-color: rgb(157, 157, 158);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar {
  position: static;
  display: flex;
  flex-direction: column;
  width: 15%;
}
.signUp {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  align-items: center;
  /* height: 80px; */
  /* border: 1px solid black; */
  overflow: auto;
}
.rSider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border: 2px solid blue;
  /* background-color: darkcyan; */
}
.content {
  border: 2px solid blue;
  width: 60%;
}
.lNav {
  background-color: darkcyan;
}
.form {
  align-items: justify;
}
.side {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: blue;
  width: 120px;
  align-items: center;
}

.email {
  margin-left: 30px;
}
.password {
  margin-left: 5px;
}

.pic {
  display: flex;
  justify-content: space-between;
  width: 125px;
  /* margin: auto; */
  /* border: 3px solid #302ceb; */
}

img {
  border: 3px solid #302ceb;
}
